Ex01_Linear_Regression/Ex01_Linear_Regression.pdf
Ex02_Logistic_Regression/Ex02_Logistic_Regression_Classifier_Advanced.pdf
Ex03_Decision_Trees/Ex03_Decision_Trees.pdf
Ex04_KNN/Ex04_KNN.pdf
Ex05_Random_Forest/Ex05_Random_Forest.pdf
Ex06_AdaBoost_Algorithm/Ex06_AdaBoost_Algorithm.pdf
Ex07_Gradient_Boosting/Ex07_Gradient_Boosting.pdf
Ex08_SVM/Ex08_SVM.pdf
Ex09_Naive_Bayes/Ex09_Naive_Bayes.pdf
Ex10_PCA/PCA_Eig_exe_1_2020W.pdf
Ex10_PCA/PCA_eigenfaces_classification.pdf
Ex10_PCA/random_files
Exam
Ex12_GMM
Ex13_T-SNE
Ex14_Hierarchical_Clustering
Ex15_DBSCAN
NLP
matplot_tutorials.py
Pycharm_Tips.py
Old_Versions
Codes_Of_Others
*.pdf
.idea